/* - DarkBlue (Dark Mode Elements): hsl(209, 23%, 22%)
- VeryDarkBlue (Dark Mode Background): hsl(207, 26%, 17%)
- VeryDarkBlue (Light Mode Text): hsl(200, 15%, 8%)
- DarkGray (Light Mode Input): hsl(0, 0%, 52%)
- VeryLightGray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --DarkBlue: hsl(209, 23%, 22%);
  --VeryDarkBlue: hsl(207, 26%, 17%);
  --VeryDarkBlue2: hsl(200, 15%, 8%);
  --DarkGray: hsl(0, 0%, 52%);
  --VeryLightGray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  font-family: "Nunito Sans";
  font-size: 16px;
}
.dark-theme {
  --DarkBlue: hsl(0, 0%, 100%);
  --VeryDarkBlue: hsl(0, 0%, 98%);
  --VeryDarkBlue2: hsl(0, 0%, 52%);

  --DarkGray: hsl(200, 15%, 8%);
  --VeryLightGray: hsl(207, 26%, 17%);
  --White: hsl(209, 23%, 22%);
  font-family: "Nunito Sans";
  font-size: 16px;
  color: var(--VeryDarkBlue);
}
/* ////////////////////////////////***Where in the world?****\////////////////////////////////// */
.container {
  background-color: var(--VeryDarkBlue);
  /* color: aliceblue; */
}

header.title {
  background-color: var(--White);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
}
.title-dark-mode {
  background-color: var(--DarkBlue);
  color: var();
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .dark-mode {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  /* transform: translate(130%, 0); */
}
header .dark-mode > span {
  margin-left: 5px;
}

.favourite {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.favourite span {
  content: "";
  position: absolute;
  background-color: rgb(121, 25, 16);
  color: rgb(254, 255, 251);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  right: -9px;
  top: -9px;
  font-size: 11px;
  font-weight: bolder;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dark-fav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* ////////////////////////////////////////////////////////////////// */

header.filter {
  background-color: var(--VeryLightGray);
  display: flex;
  justify-content: space-between;
  padding: 40px 40px;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.search-box {
  border-radius: 8px;
  height: 40px;
  width: 300px;
  padding: 0 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 0px 1px 1px var(--VeryDarkBlue2);
}
.search-box > input {
  width: 100%;
  margin-left: 5px;
  outline: none;
  border: none;
  background-color: var(--VeryLightGray);
  color: var(--VeryDarkBlue);
}

.select {
  height: 40px;
  width: 150px;
  padding: 0 10px;
  background-color: var(--VeryLightGray);
  color: var(--VeryDarkBlue);
}
.select > option {
  margin: 20px 10px;
}
/* /////////////////////////////////********country*********\////////////////////////////////////// */
main.country-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 40px;
  background-color: var(--VeryLightGray);
  position: relative;
}

.country-box {
  box-shadow: 0px 0px 3px 2px var(--VeryDarkBlue2);
  margin: 30px 30px;
  padding: 0 0 20px 0;
  width: 270px;
  border-radius: 8px;
  z-index: 0;
}
.country-box:hover {
  transform: scale(1.05);
}

.country-alert {
  position: absolute;
  text-align: center;
  padding: 10px 0;
  font-size: 40px;
  color: var(--DarkGray);
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
}
.country-image > img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  cursor: pointer;
}
.country-body {
  padding-left: 10px;
  font-size: 14px;
  width: fit-content;
  font-weight: 300;
}
.country-header {
  padding-left: 10px;
  font-size: 10px;
  width: fit-content;
  font-weight: 300;
}
.country-region {
  color: var(--VeryDarkBlue);
  margin-bottom: 15px;
}
/* modal */
.modal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--White);
  z-index: 5;
  display: none;
  animation: zoomIn 0.4s;
  z-index: 110;
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.modal-image {
  display: flex;
  /* flex-basis: 100%; */
  /* flex: 1; */
  background-color: #ffd000;
}

.modal-image > img {
  max-width: 100%;
  width: 500px;
  height: auto;
  /* flex-basis: 100%; */
  object-fit: cover;
  flex-grow: 1;
  box-shadow: 0px 0px 5px 1px var(--DarkGray);
  /* margin: auto; */
}
.modal-info {
  display: flex;
  flex-direction: column;
  width: fit-content;
  /* line-height: 2; */
}
.modal-header {
  width: 100%;
  font-size: 40px;
}
.modal-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #444;
}

[name="close-outline"] {
  position: absolute;
  top: 5%;
  right: 20px;
  font-size: 30px;
  border-radius: 50px;
  background-color: var(--DarkGray);
  color: white;
  cursor: pointer;
}

.alert {
  background-color: red;
  text-align: center;
  color: aliceblue;
  padding: 10px 0;
  position: sticky;
  top: 0;
}

.sun {
  display: none;
  color: #ffd000;
}
.moon {
  color: rgb(0, 0, 0);
}

.scrollToTop {
  background-color: #ff0000;
  color: aliceblue;
  position: fixed;
  bottom: 20px;
  right: 10px;
  font-size: 30px;
  font-weight: 900;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}

.favBtn {
  background-color: var(--DarkBlue);
  box-shadow: 1px 2px 1px 2px var(--VeryLightGray);
  color: var(--White);
  cursor: pointer;
  padding: 10px 20px;
  display: block;
  margin: 10px auto 0 auto;
  border-radius: 4px;
  transition: all 0.2s;
}
.favBtn:active {
  transform: translateY(2px);
}
.favourite {
  display: block;
}
/* ////////////////////////// */
[name="star"]:hover {
  cursor: pointer;
}
.list {
  display: block;
  z-index: 110;
}
.list-box {
  background-color: #ffd000;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 0;
  border-radius: 4px;
  z-index: 110;
}
.hidden {
  display: none;
}

.country {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  grid-template-rows: 1fr;
  padding: 0 10px;
}

.list-image,
.list-name {
  width: 150px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 10px 0;
}
.list-image img {
  height: 50px;
}

.close-btn {
  background-color: var(--VeryLightGray);
  color: var(--DarkBlue);
  padding: 5px 10px;
  border-radius: 4px;
}

.close-btn:hover {
  cursor: pointer;
}

.load {
  background-color: var(--DarkBlue);
  box-shadow: 0px 0px 3px 1px var(--VeryLightGray);
  color: var(--White);
  cursor: pointer;
  padding: 10px 20px;
  display: block;
  margin: 10px auto 50px auto;
  border-radius: 4px;
  transition: all 0.2s;
  transform: translate(0, 50%);
}
