/* - DarkBlue (Dark Mode Elements): hsl(209, 23%, 22%)
- VeryDarkBlue (Dark Mode Background): hsl(207, 26%, 17%)
- VeryDarkBlue (Light Mode Text): hsl(200, 15%, 8%)
- DarkGray (Light Mode Input): hsl(0, 0%, 52%)
- VeryLightGray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  --DarkBlue: hsl(209, 23%, 22%);
  --VeryDarkBlue: hsl(207, 26%, 17%);
  --VeryDarkBlue2: hsl(200, 15%, 8%);
  --DarkGray: hsl(0, 0%, 52%);
  --VeryLightGray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  font-family: "Nunito Sans";
  font-size: 16px;
}
/* ////////////////////////////////***Where in the world?****\////////////////////////////////// */
.container {
  background-color: var(--VeryDarkBlue);
  /* color: aliceblue; */
}

header.title {
  background-color: var(--White);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-dark-mode {
  background-color: var(--DarkBlue);
  color: aliceblue;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .dark-mode {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
header .dark-mode > span {
  margin-left: 5px;
}
/* ////////////////////////////////////////////////////////////////// */

header.filter {
  background-color: var(--VeryLightGray);
  display: flex;
  justify-content: space-between;
  padding: 40px 40px;
}

.search-box {
  border-radius: 8px;
  height: 40px;
  width: 300px;
  padding: 0 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 1px 1px 1px 3px rgb(246, 246, 246);
}
.search-box > input {
  width: 100%;
  margin-left: 5px;
  outline: none;
  border: none;
}

.select {
  height: 40px;
  width: 150px;
  padding: 0 10px;
}
.select > option {
  margin: 20px 10px;
}
/* /////////////////////////////////********country*********\////////////////////////////////////// */
main.country-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 40px;
  background-color: var(--VeryLightGray);
}
.country-container-dark-mode {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 40px;
  background-color: var(--VeryDarkBlue);
}
.country-box-dark-mode {
  box-shadow: 1px 1px 10px 5px rgb(0, 0, 0);
  margin: 30px 30px;
  padding: 0 0 20px 0;
  width: 270px;
  border-radius: 8px;
  background-color: var(--VeryDarkBlue);
  color: rgb(255, 240, 240);
}
.country-box {
  box-shadow: 1px 1px 10px 5px rgb(204, 204, 204);
  margin: 30px 30px;
  padding: 0 0 20px 0;
  width: 270px;
  border-radius: 8px;
}

.country-image > img {
  height: 150px;
  width: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.country-body {
  padding-left: 10px;
  font-size: 14px;
  width: fit-content;
  font-weight: 300;
}
.country-header {
  padding-left: 10px;
  font-size: 10px;
  width: fit-content;
  font-weight: 300;
}
.country-region {
  color: rgba(0, 0, 0, 0.541);
  margin-bottom: 15px;
}
/* modal */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  padding: 0 100px;
  z-index: 5;
  display: none;
}

.modal-image > img {
  /* height: 400px; */
  max-width: 600px;
  min-width: 200px;
  box-shadow: 0px 0px 10px 1px rgb(204, 204, 204);
}
.modal-image,
.modal-info {
  flex: 1;
  margin-right: 100px;
}
.modal-info {
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-color: aquamarine;
}
.modal-header {
  background-color: beige;
  width: 100%;
}

[name="close-outline"] {
  position: absolute;
  top: 25%;
  right: 20px;
  font-size: 30px;
  border-radius: 50px;
  background-color: rgb(241, 241, 241);
  cursor: pointer;
}

.alert {
  background-color: red;
  text-align: center;
  color: aliceblue;
  padding: 10px 0;
  position: sticky;
  top: 0;
}
